version: '3.3'

services:
  db:
    image: postgres:10
    volumes:
     - ./world.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
     - "5432:5432"
    expose:
     - "5432"
    environment:
      POSTGRES_DB: world
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
